Repository gardener/docforge, pull requests merged in 2021-01, with the labels that each got.

#142 bug fix for deleting multiple empty tree nodes
  pkg/resourcehandlers/github/github_resource_handler.go
  pkg/resourcehandlers/github/github_resource_handler_test.go
Labels: reviewed/lgtm, reviewed/ok-to-test, size/s

#139 fix parsing of links inside code span
  pkg/markdown/parser/autolinks_parse.go
  pkg/markdown/parser/autolinks_parse_test.go
  pkg/markdown/parser/links_parse_test.go
  pkg/markdown/parser/parser.go
Labels: kind/bug, needs/changes, needs/ok-to-test, size/m

#145 Synchronize error propagation to prevent program freeze
  pkg/jobs/jobs.go
  pkg/jobs/jobs_test.go
  pkg/reactor/build.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#138 Adds mutex to shared resources between workers.
  pkg/jobs/controller.go
  pkg/jobs/controller_test.go
  pkg/jobs/jobs.go
  pkg/jobs/jobs_test.go
  pkg/jobs/workqueue.go
  pkg/reactor/content_processor.go
  pkg/reactor/document_controller.go
  pkg/reactor/download_controller.go
  pkg/reactor/gitinfo_controller.go
Labels: needs/changes, needs/ok-to-test, size/m

#141 update readme
  README.md
  docs/images/docforge-overview.svg
  docs/images/docforge-step.svg
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#143 Make GitHub client requests rate limited
  cmd/app/cmd.go
  cmd/app/factory.go
  go.mod
  go.sum
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/m

#137 Skip parsing invalid links
  pkg/markdown/parser/links_parse.go
  pkg/markdown/parser/links_parse_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#148 Document the concurrency pattern in docforge
  docs/dev-concurency.md
  docs/images/docforge-concurrency-pattern.svg
  docs/images/docforge-control-fwk.svg
  docs/images/docforge-err-multiplexing.svg
Labels: area/documentation, needs/ok-to-test, needs/review, size/m

#149 Do not prepend links in index files with "../"
  go.mod
  go.sum
  pkg/hugo/processor.go
  pkg/hugo/processor_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#151 add ghost root node to structure direct children
  pkg/api/nodes.go
  pkg/reactor/content_processor.go
  pkg/reactor/reactor.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#154 Fixes file comparison and rename
  pkg/hugo/fswriter.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
