Repository gardener/docforge, pull requests merged in 2021-06, with the labels that each got.

#182 add hugo options to configuration file
  cmd/app/cmd.go
  cmd/app/cmd_test.go
  cmd/app/factory.go
  cmd/configuration/types_configuration.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#187 Discover broken links when building absolute links
  go.mod
  go.sum
  pkg/reactor/content_processor.go
  pkg/reactor/content_processor_test.go
Labels: needs/changes, needs/ok-to-test, needs/review, size/xs

#186 add go-git wrapper interface and ginkgo+gomock to the repository
  cmd/app/cmd.go
  cmd/configuration/configuration.go
  cmd/configuration/configuration_test.go
  cmd/configuration/testdata/config_full.yaml
  cmd/configuration/testdata/config_test.yaml
  cmd/main.go
  go.mod
  go.sum
  pkg/git/git.go
  pkg/mock/git/git.go
  pkg/processors/frontmatter.go
  pkg/resourcehandlers/git/git_resource_handler.go
  pkg/resourcehandlers/git/repository.go
  pkg/resourcehandlers/git/repository_test.go
  pkg/util/types.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl
