Repository gardener/docforge, pull requests merged in 2021-09, with the labels that each got.

#210 Add new scenarios in the integration test
  .ci/integration-test
  integration-test/expected-metadata/contributors.json
  integration-test/expected-metadata/mainTree/html-tests/file1.md.json
  integration-test/expected-metadata/mainTree/html-tests/nodeSelector/innerDir/testedHTMLFile5.md.json
  integration-test/expected-metadata/mainTree/html-tests/nodeSelector/testedHTMLFile3.md.json
  integration-test/expected-metadata/mainTree/html-tests/nodeSelector/testedHTMLFile4.md.json
  integration-test/expected-metadata/mainTree/html-tests/testedHTMLFile2.md.json
  integration-test/expected-metadata/mainTree/markdown-tests/file1.md.json
  integration-test/expected-metadata/mainTree/markdown-tests/nodeSelector/innerDir/testedMarkdownFile5.md.json
  integration-test/expected-metadata/mainTree/markdown-tests/nodeSelector/testedMarkdownFile3.md.json
  integration-test/expected-metadata/mainTree/markdown-tests/nodeSelector/testedMarkdownFile4.md.json
  integration-test/expected-metadata/mainTree/markdown-tests/testedMarkdownFile2.md.json
  integration-test/expected-tree/__resources/photo1_afdc1d.jpeg
  integration-test/expected-tree/__resources/photo2_801a9b.jpeg
  integration-test/expected-tree/__resources/photo3_21204c.jpeg
  integration-test/expected-tree/mainTree/html-tests/file1.md
  integration-test/expected-tree/mainTree/html-tests/nodeSelector/_index.md
  integration-test/expected-tree/mainTree/html-tests/nodeSelector/innerDir/testedHTMLFile5.md
  integration-test/expected-tree/mainTree/html-tests/nodeSelector/testedHTMLFile3.md
  integration-test/expected-tree/mainTree/html-tests/nodeSelector/testedHTMLFile4.md
  integration-test/expected-tree/mainTree/html-tests/testedHTMLFile2.md
  integration-test/expected-tree/mainTree/markdown-tests/file1.md
  integration-test/expected-tree/mainTree/markdown-tests/nodeSelector/_index.md
  integration-test/expected-tree/mainTree/markdown-tests/nodeSelector/innerDir/testedMarkdownFile5.md
  integration-test/expected-tree/mainTree/markdown-tests/nodeSelector/testedMarkdownFile3.md
  integration-test/expected-tree/mainTree/markdown-tests/nodeSelector/testedMarkdownFile4.md
  integration-test/expected-tree/mainTree/markdown-tests/testedMarkdownFile2.md
  integration-test/expected-tree/test.md
  integration-test/manifest
  integration-test/tested-doc/html-tests/testedDir/innerDir/testedHTMLFile5.md
  integration-test/tested-doc/html-tests/testedDir/testedHTMLFile3.md
  integration-test/tested-doc/html-tests/testedDir/testedHTMLFile4.md
  integration-test/tested-doc/html-tests/testedHTMLFile1.md
  integration-test/tested-doc/html-tests/testedHTMLFile2.md
  integration-test/tested-doc/images/photo1.jpeg
  integration-test/tested-doc/images/photo2.jpeg
  integration-test/tested-doc/images/photo3.jpeg
  integration-test/tested-doc/markdown-tests/testedDir/innerDir/testedMarkdownFile5.md
  integration-test/tested-doc/markdown-tests/testedDir/testedMarkdownFile3.md
  integration-test/tested-doc/markdown-tests/testedDir/testedMarkdownFile4.md
  integration-test/tested-doc/markdown-tests/testedMarkdownFile1.md
  integration-test/tested-doc/markdown-tests/testedMarkdownFile2.md
  integration-test/tested-doc/test.md
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#212 Remove photos with bad licence
  integration-test/tested-doc/html-tests/testedDir/innerDir/testedHTMLFile5.md
  integration-test/tested-doc/html-tests/testedDir/testedHTMLFile3.md
  integration-test/tested-doc/html-tests/testedDir/testedHTMLFile4.md
  integration-test/tested-doc/html-tests/testedHTMLFile1.md
  integration-test/tested-doc/html-tests/testedHTMLFile2.md
  integration-test/tested-doc/images/gardener-docforge-logo.png
  integration-test/tested-doc/images/photo1.jpeg
  integration-test/tested-doc/images/photo2.jpeg
  integration-test/tested-doc/images/photo3.jpeg
  integration-test/tested-doc/markdown-tests/testedDir/innerDir/testedMarkdownFile5.md
  integration-test/tested-doc/markdown-tests/testedDir/testedMarkdownFile3.md
  integration-test/tested-doc/markdown-tests/testedDir/testedMarkdownFile4.md
  integration-test/tested-doc/markdown-tests/testedMarkdownFile1.md
  integration-test/tested-doc/markdown-tests/testedMarkdownFile2.md
Labels: needs/ok-to-test, needs/review, size/s

#211 Functions GetTitle and GetDestination will return null when the title…
  pkg/markdown/parser/links.go
Labels: needs/ok-to-test, needs/review, size/xs

#213 Regenerate integration test expected files
  .ci/integration-test
  .gitignore
  .reuse/dep5
  integration-test/expected-tree/__resources/gardener-docforge-logo.png
  integration-test/expected-tree/__resources/photo1_afdc1d.jpeg
  integration-test/expected-tree/__resources/photo2_801a9b.jpeg
  integration-test/expected-tree/__resources/photo3_21204c.jpeg
  integration-test/expected-tree/mainTree/html-tests/file1.md
  integration-test/expected-tree/mainTree/html-tests/nodeSelector/innerDir/testedHTMLFile5.md
  integration-test/expected-tree/mainTree/html-tests/nodeSelector/testedHTMLFile3.md
  integration-test/expected-tree/mainTree/html-tests/nodeSelector/testedHTMLFile4.md
  integration-test/expected-tree/mainTree/html-tests/testedHTMLFile2.md
  integration-test/expected-tree/mainTree/markdown-tests/file1.md
  integration-test/expected-tree/mainTree/markdown-tests/nodeSelector/innerDir/testedMarkdownFile5.md
  integration-test/expected-tree/mainTree/markdown-tests/nodeSelector/testedMarkdownFile3.md
  integration-test/expected-tree/mainTree/markdown-tests/nodeSelector/testedMarkdownFile4.md
  integration-test/expected-tree/mainTree/markdown-tests/testedMarkdownFile2.md
  integration-test/tested-doc/html-tests/testedDir/innerDir/testedHTMLFile5.md
  integration-test/tested-doc/html-tests/testedDir/testedHTMLFile3.md
  integration-test/tested-doc/html-tests/testedDir/testedHTMLFile4.md
  integration-test/tested-doc/html-tests/testedHTMLFile1.md
  integration-test/tested-doc/html-tests/testedHTMLFile2.md
  integration-test/tested-doc/markdown-tests/testedDir/innerDir/testedMarkdownFile5.md
  integration-test/tested-doc/markdown-tests/testedDir/testedMarkdownFile3.md
  integration-test/tested-doc/markdown-tests/testedDir/testedMarkdownFile4.md
  integration-test/tested-doc/markdown-tests/testedMarkdownFile1.md
  integration-test/tested-doc/markdown-tests/testedMarkdownFile2.md
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#216 Introduce recursive node merge
  pkg/api/nodes.go
  pkg/hugo/processor.go
  pkg/reactor/document_worker.go
  pkg/reactor/gitinfo_controller.go
  pkg/reactor/manifest_resolver.go
  pkg/reactor/manifest_resolver_test.go
  pkg/util/node/node.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#220 Bold links are fixed by removing special symbols
  go.mod
  go.sum
  pkg/api/types.go
  pkg/hugo/fswriter.go
  pkg/markdown/parser/autolinks_parse.go
  pkg/reactor/content_processor.go
  pkg/writers/dryRunWriter.go
Labels: kind/api-change, needs/ok-to-test, needs/second-opinion, size/s

#219 On file name collision, docforge will return an error
  pkg/reactor/reactor.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#218 Add integration test for container nodes merge
  cmd/app/cmd.go
  cmd/app/manifest.go
  integration-test/expected-metadata/merge-node/level1-container-node1/fileD.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node1/fileD.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/file1.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/file2.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileD1.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileD2.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileY1.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileY2.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node2/file1.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node2/fileD.md.json
  integration-test/expected-metadata/merge-node/level1-container-node1/level2-container-node2/fileY.md.json
  integration-test/expected-metadata/merge-node/level1-container-node2/file1.md.json
  integration-test/expected-metadata/merge-node/level1-container-node2/fileD.md.json
  integration-test/expected-metadata/merge-node/level1-container-node2/fileY.md.json
  integration-test/expected-tree/merge-node/level1-container-node1/fileD.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/fileD.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/file1.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/file2.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileD1.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileD2.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileY1.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileY2.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node2/file1.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node2/fileD.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node2/fileY.md
  integration-test/expected-tree/merge-node/level1-container-node2/file1.md
  integration-test/expected-tree/merge-node/level1-container-node2/fileD.md
  integration-test/expected-tree/merge-node/level1-container-node2/fileY.md
  integration-test/manifest
  integration-test/tested-doc/merge-test/testDir/merge-node/level1-container-node1/fileD.md
  integration-test/tested-doc/merge-test/testDir/merge-node/level1-container-node1/level2-container-node1/fileD.md
  integration-test/tested-doc/merge-test/testDir/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileD1.md
  integration-test/tested-doc/merge-test/testDir/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileD2.md
  integration-test/tested-doc/merge-test/testDir/merge-node/level1-container-node1/level2-container-node2/fileD.md
  integration-test/tested-doc/merge-test/testDir/merge-node/level1-container-node2/fileD.md
  integration-test/tested-doc/merge-test/testFile.md
  integration-test/tested-doc/merge-test/testSelector.yaml
  pkg/api/parser.go
Labels: kind/api-change, needs/ok-to-test, needs/second-opinion, size/xl

#221 Add default values to the int test org and version variables
  .ci/integration-test
Labels: needs/ok-to-test, needs/review, size/xs

#222 Do not test contributors file in integration-test
  .ci/integration-test
  integration-test/expected-metadata/contributors.json
Labels: needs/ok-to-test, needs/review, size/xs
