Repository gardener/docforge, pull requests merged in 2021-02, with the labels that each got.

#159 fix link removal
  pkg/markdown/links.go
  pkg/markdown/parser/document.go
  pkg/markdown/parser/links.go
  pkg/markdown/parser/links_test.go
  pkg/markdown/parser/types.go
Labels: needs/ok-to-test, needs/review, size/m

#157 cache uses a key generated using ResourceLocator
  go.mod
  go.sum
  pkg/processors/processor.go
  pkg/reactor/document_worker.go
  pkg/resourcehandlers/github/github_resource_handler.go
  pkg/resourcehandlers/github/github_resource_handler_test.go
  pkg/resourcehandlers/github/resource_locator.go
  pkg/resourcehandlers/resource_handlers.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#160 fm filter in nodesSelector
  docs/manifest-ref.md
  example/advanced/01.yaml
  go.mod
  go.sum
  pkg/api/types.go
  pkg/markdown/frontmatter.go
  pkg/markdown/frontmatter_test.go
  pkg/reactor/reactor.go
  pkg/resourcehandlers/fs/fs.go
  pkg/resourcehandlers/github/github_resource_handler.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#163 fix absolute links to tree/dir objects
  go.sum
  pkg/reactor/content_processor.go
  pkg/resourcehandlers/fs/fs.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#162 Improve front-matter titles
  cmd/app/factory.go
  pkg/hugo/processor.go
  pkg/hugo/processor_test.go
  pkg/processors/frontmatter.go
  pkg/processors/frontmatter_test.go
Labels: needs/ok-to-test, needs/review, size/m

#166 Add web url to files git-data
  pkg/git/types.go
  pkg/resourcehandlers/github/gitinfo.go
  pkg/resourcehandlers/github/testdata/test_format_00_out.json
Labels: needs/ok-to-test, needs/review, size/xs

#171 add GH resource details to git info
  pkg/git/types.go
  pkg/resourcehandlers/github/github_resource_handler.go
Labels: needs/ok-to-test, needs/review, size/xs

#174 Skip TreeEntry objects without URL
  pkg/resourcehandlers/github/github_resource_handler.go
Labels: needs/ok-to-test, needs/review, size/xs
