Repository gardener/docforge, pull requests merged in 2021-07, with the labels that each got.

#189 Detect node name collisions and throw an error
  go.mod
  go.sum
  pkg/reactor/reactor.go
  pkg/reactor/reactor_test.go
Labels: lifecycle/rotten, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#190 Fix file extensions in /data
  pkg/writers/fswriter.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#196 Post release notes in gardener-documentation slack channel
  .ci/pipeline_definitions
Labels: needs/ok-to-test, needs/review, size/xs

#192 fix index rename issue
  cmd/app/cmd.go
  cmd/app/factory.go
  go.mod
  go.sum
  pkg/hugo/fswriter.go
  pkg/hugo/fswriter_test.go
  pkg/hugo/hugo.go
  pkg/reactor/manifest_resolver.go
  pkg/reactor/manifest_resolver_test.go
  pkg/reactor/reactor.go
  pkg/reactor/reactor_test.go
  pkg/resourcehandlers/fs/fs.go
  pkg/resourcehandlers/fs/fs_test.go
  pkg/resourcehandlers/testhandler/test_resource_handler.go
  pkg/writers/dryRunWriter.go
  pkg/writers/fswriter.go
  pkg/writers/fswriter_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/l
