Repository gardener/docforge, pull requests merged in 2021-08, with the labels that each got.

#200 Fixing link resolve for links that point to the website & html image links
  pkg/api/nodes.go
  pkg/api/nodes_test.go
  pkg/api/types.go
  pkg/hugo/processor.go
  pkg/markdown/html_links.go
  pkg/reactor/content_processor.go
  pkg/reactor/content_processor_test.go
  pkg/reactor/reactor.go
  pkg/resourcehandlers/github/github_resource_handler.go
  pkg/resourcehandlers/github/github_resource_handler_test.go
  pkg/resourcehandlers/testhandler/test_resource_handler.go
Labels: kind/api-change, reviewed/lgtm, needs/ok-to-test, size/l

#198 Change file types of the tree leafs from tree to blob
  pkg/resourcehandlers/git/git_resource_handler.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#199 Use Github client for fetching Git data with git_handler
  pkg/resourcehandlers/fs/fs.go
  pkg/resourcehandlers/fs/fs_test.go
  pkg/resourcehandlers/git/git_resource_handler.go
  pkg/resourcehandlers/github/github_resource_handler.go
  pkg/resourcehandlers/github/github_utils.go
  pkg/resourcehandlers/utils/gitlog.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#201 Fix the type of relative links & add win FS support to git resource handler
  pkg/resourcehandlers/git/git_resource_handler.go
  pkg/resourcehandlers/github/github_resource_handler.go
Labels: kind/bug, reviewed/lgtm, needs/ok-to-test, size/s

#202 Verify the resource type of relative links
  pkg/reactor/content_processor.go
  pkg/reactor/document_worker.go
  pkg/reactor/download_controller.go
  pkg/resourcehandlers/git/git_resource_handler.go
  pkg/resourcehandlers/git/repository.go
  pkg/resourcehandlers/github/github_resource_handler.go
  pkg/resourcehandlers/github/github_resource_handler_test.go
  pkg/resourcehandlers/github/github_utils.go
  pkg/resourcehandlers/github/resource_locator_cache.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#209 Test both handlers in the integration test
  .ci/integration-test
  integration-test/expected-metadata/contributors.json
  integration-test/expected-metadata/test.md.json
Labels: needs/ok-to-test, needs/review, size/m
