Repository gardener/docforge, pull requests merged in 2022-02, with the labels that each got.

#263 removed cache usage in git resource handler and minor changes
  pkg/reactor/build_test.go
  pkg/reactor/content_processor_test.go
  pkg/reactor/manifest_resolver.go
  pkg/reactor/manifest_resolver_test.go
  pkg/resourcehandlers/git/git_resource_handler.go
  pkg/resourcehandlers/git/git_resource_handler_test.go
  pkg/resourcehandlers/github/github_resource_handler.go
  pkg/resourcehandlers/github/github_resource_handler_test.go
  pkg/resourcehandlers/github/github_utils.go
  pkg/resourcehandlers/github/integration_test.go
  pkg/resourcehandlers/resource_handlers.go
  pkg/resourcehandlers/resource_handlers_test.go
  pkg/resourcehandlers/resourcehandlersfakes/fake_resource_handler.go
  pkg/resourcehandlers/testhandler/test_resource_handler.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#264 Resolve relative paths in manifests
  cmd/app/cmd.go
  pkg/api/parser.go
  pkg/api/types.go
  pkg/reactor/build.go
  pkg/reactor/content_processor_test.go
  pkg/reactor/manifest_resolver.go
  pkg/reactor/manifest_resolver_test.go
  pkg/reactor/reactor.go
  pkg/reactor/validator.go
  pkg/resourcehandlers/git/git_resource_handler.go
  pkg/resourcehandlers/git/git_resource_handler_test.go
  pkg/resourcehandlers/github/github_resource_handler.go
  pkg/resourcehandlers/resource_handlers.go
  pkg/resourcehandlers/resourcehandlersfakes/fake_resource_handler.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#265 Avoid links to container nodes that do not contains index file
  pkg/reactor/content_processor.go
Labels: needs/ok-to-test, needs/review, size/s

#267 Minor config changes
  cmd/app/cmd.go
  cmd/app/factory.go
  cmd/app/manifest.go
  cmd/configuration/types.go
  pkg/reactor/manifest_resolver_test.go
  pkg/reactor/reactor.go
  pkg/resourcehandlers/github/github_resource_handler.go
Labels: needs/ok-to-test, needs/review, size/m
