Repository gardener/docforge, pull requests merged in 2024-12, with the labels that each got.

#358 Add support for valid file formats
  .ci/integration-test
  cmd/app/cmd.go
  cmd/app/exec.go
  cmd/app/flags.go
  cmd/app/initilization.go
  cmd/app/types.go
  integration-test/expected-tree/mainTree/multiformatMerge.md
  integration-test/manifest.yaml
  integration-test/tested-doc/testedHTMLFile.html
  pkg/manifest/manifest.go
  pkg/manifest/manifest_test.go
  pkg/manifest/tests/contents/blogs/2024/invalid.file
  pkg/manifest/tests/manifests/fileTree_filtering.yaml
  pkg/manifest/tests/manifests/unsupported_file_format.yaml
  pkg/manifest/tests/results/fileTree_filtering.yaml
  pkg/registry/repositoryhost/github_http_cache.go
  pkg/registry/repositoryhost/github_http_cache_test.go
  pkg/registry/repositoryhost/local.go
  pkg/registry/repositoryhost/repository_host_test.go
  pkg/workers/document/document_worker.go
  pkg/workers/document/document_worker_test.go
  pkg/workers/document/frontmatter/frontmatter_test.go
  pkg/workers/document/tests/expected_target2.md
  pkg/workers/document/tests/expected_target3.html
  pkg/workers/document/tests/target3.html
  pkg/workers/linkresolver/link_resolving_test.go
  pkg/workers/linkresolver/tests/baseline.yaml
Labels: reviewed/lgtm, needs/ok-to-test, needs/rebase, size/m

#360 Fix issue in matching `gardener/gardener...` to `gardener/gardener/`
  pkg/registry/repositoryhost/local.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#361 Add `resource-website-path`
  cmd/app/exec.go
  cmd/app/flags.go
  cmd/app/initilization.go
  cmd/app/types.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/xs

#362 Add default `golangci-lint`
  .ci/e2e
  Makefile
  cmd/gendocs/gendocs.go
  integration-test/expected-tree/mainTree/html-tests/fileTree/innerDir/testedHTMLFile5.md
  integration-test/expected-tree/mainTree/html-tests/fileTree/testedHTMLFile3.md
  integration-test/expected-tree/mainTree/html-tests/fileTree/testedHTMLFile4.md
  integration-test/expected-tree/mainTree/html-tests/testedHTMLFile2.md
  integration-test/expected-tree/mainTree/markdown-tests/fileTree/innerDir/testedMarkdownFile5.md
  integration-test/expected-tree/mainTree/markdown-tests/fileTree/testedMarkdownFile3.md
  integration-test/expected-tree/mainTree/markdown-tests/fileTree/testedMarkdownFile4.md
  integration-test/expected-tree/mainTree/markdown-tests/testedMarkdownFile2.md
  integration-test/expected-tree/mainTree/multiformatMerge.md
  integration-test/expected-tree/merge-node/level1-container-node1/fileD.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/fileD.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileD1.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileD2.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileY1.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node1/level3-container-node1/fileY2.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node2/fileD.md
  integration-test/expected-tree/merge-node/level1-container-node1/level2-container-node2/fileY.md
  integration-test/expected-tree/merge-node/level1-container-node2/fileD.md
  integration-test/expected-tree/merge-node/level1-container-node2/fileY.md
  pkg/manifest/manifest.go
  pkg/registry/repositoryhost/github_http_cache_test.go
  pkg/registry/repositoryhost/local.go
  pkg/workers/document/frontmatter/frontmatter.go
  pkg/workers/document/markdown/link_modifier.go
  pkg/workers/document/markdown/parser_test.go
  pkg/workers/document/markdown/specs_test.go
  pkg/writers/fswriter_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#366 Remove document and resource jobs
  cmd/app/exec.go
  cmd/app/flags.go
  cmd/app/types.go
  pkg/workers/document/document_worker.go
  pkg/workers/document/document_worker_test.go
  pkg/workers/document/job.go
  pkg/workers/resourcedownloader/downloaderfakes/fake_interface.go
  pkg/workers/resourcedownloader/job.go
  pkg/workers/resourcedownloader/resourcedownloader.go
  pkg/workers/resourcedownloader/resourcedownloaderfakes/fake_interface.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/second-opinion, size/l
