Repository gardener/docforge, pull requests merged in 2024-11, with the labels that each got.

#350 Remove unused licenses
  LICENSES/BSD-2-Clause.txt
  LICENSES/BSD-3-Clause.txt
  LICENSES/ISC.txt
  LICENSES/MIT.txt
  LICENSES/MPL-2.0.txt
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l

#351 Minor enhancement
  pkg/manifest/manifest.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#353 Introduce task make target that runs tests before committing the provided message
  Makefile
  task.sh
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#354 Modify `--dry-run` flag and remove `--resolve` flag
  cmd/app/exec.go
  cmd/app/flags.go
  cmd/app/initilization.go
  cmd/app/types.go
  pkg/writers/dryRunWriter.go
  pkg/writers/dryRunWriter_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#355 Update integration test manifests to always use .md extension for .md files
  integration-test/manifest.yaml
  integration-test/tested-doc/merge-test/secondManifest.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#356 Introduce integration-test config
  .ci/integration-test
  integration-test/config
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/xs

#357 Remove defaulting of files to `md`. `fileTree` won't load files without md suffix
  pkg/manifest/manifest.go
  pkg/manifest/tests/manifests/index_md_with_properties.yaml
  pkg/manifest/tests/manifests/multisource.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s
