Repository gardener/docforge, pull requests merged in 2024-03, with the labels that each got.

#311 Make repo compliant
  .reuse/dep5
  CONTRIBUTING.md
  LICENSE
  LICENSES/Apache-2.0.txt
  LICENSES/BSD-2-Clause.txt
  LICENSES/BSD-3-Clause.txt
  LICENSES/CC-BY-4.0.txt
  LICENSES/ISC.txt
  LICENSES/MIT.txt
  LICENSES/MPL-2.0.txt
  README.md
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl, area/ipcei

#312 Add uncommited changes that should have been in v0.43.0
  pkg/manifest/manifest.go
  pkg/readers/link/resource_link.go
  pkg/readers/repositoryhosts/githubhttpcache/github_http_cache.go
  pkg/readers/repositoryhosts/githubhttpcache/github_http_cache_test.go
  pkg/workers/document/job.go
  pkg/workers/document/tests/expected_target.md
  pkg/workers/document/tests/expected_target2.md
  pkg/workers/downloader/downloader.go
  pkg/workers/linkresolver/link_resolving.go
Labels: needs/ok-to-test, needs/review, size/m

#313 Improve `Resource` structure to represent only one type link
  pkg/manifest/manifest.go
  pkg/manifest/manifest_test.go
  pkg/readers/link/resource_link.go
  pkg/readers/repositoryhosts/githubhttpcache/github_http_cache.go
  pkg/readers/repositoryhosts/githubhttpcache/github_http_cache_test.go
  pkg/readers/repositoryhosts/repository_host.go
  pkg/readers/repositoryhosts/repositoryhostsfakes/fake_repository_host.go
  pkg/readers/repositoryhosts/repositoryhostsfakes/local_filesystem_registry.go
  pkg/readers/resource/resource_url.go
  pkg/workers/document/document_worker.go
  pkg/workers/document/document_worker_test.go
  pkg/workers/downloader/downloader.go
  pkg/workers/linkresolver/link_resolving.go
  pkg/workers/linkresolver/link_resolving_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl
