Repository gardener/docforge, pull requests merged in 2025-05, with the labels that each got.

#422 Improve `filetypefilter` plugin
  cmd/app/exec.go
  cmd/app/flags.go
  pkg/manifest/manifest.go
  pkg/manifestplugins/filetypefilter/plugin.go
  pkg/manifestplugins/filetypefilter/plugin_test.go
  pkg/manifestplugins/filetypefilter/tests/contents/blogs/2024/valid.yaml
  pkg/manifestplugins/filetypefilter/tests/manifests/filtered_file_format.yaml
  pkg/manifestplugins/filetypefilter/tests/results/filtered_file_format.yaml
  test/e2e/docforge_config.yaml
Labels: needs/ok-to-test, needs/review, size/m

#425 Fix filter flake
  pkg/manifest/manifest.go
  pkg/manifest/manifest_test.go
  pkg/manifest/tests/manifests/colliding_dir_frontmatters.yaml
  pkg/manifestplugins/alias/tests/manifests/aliases.yaml
  pkg/manifestplugins/alias/tests/results/aliases.yaml
  pkg/manifestplugins/docsy/plugin_test.go
  pkg/manifestplugins/docsy/tests/manifests/dir.yaml
  pkg/manifestplugins/docsy/tests/results/dir.yaml
  pkg/manifestplugins/filetypefilter/plugin.go
  pkg/manifestplugins/filetypefilter/plugin_test.go
  pkg/manifestplugins/filetypefilter/tests/manifests/unsupported_file_format.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#424 Add `Markdown` processor check to `Docsy` plugin
  cmd/app/exec.go
  pkg/manifestplugins/docsy/plugin.go
  pkg/manifestplugins/docsy/plugin_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs
