Repository gardener/docforge, pull requests merged in 2025-03, with the labels that each got.

#403 Drop `resources-download-path` and `resources-website-path` flags
  .ci/integration-test
  cmd/app/exec.go
  cmd/app/flags.go
  cmd/app/initilization.go
  cmd/app/types.go
  integration-test/expected-tree/mainTree/gardener-docforge-logo.png
  integration-test/expected-tree/mainTree/html-tests/file1.md
  integration-test/expected-tree/mainTree/html-tests/fileTree/innerDir/testedHTMLFile5.md
  integration-test/expected-tree/mainTree/html-tests/fileTree/testedHTMLFile3.md
  integration-test/expected-tree/mainTree/html-tests/fileTree/testedHTMLFile4.md
  integration-test/expected-tree/mainTree/html-tests/testedHTMLFile2.md
  integration-test/expected-tree/mainTree/markdown-tests/file1.md
  integration-test/expected-tree/mainTree/markdown-tests/fileTree/innerDir/testedMarkdownFile5.md
  integration-test/expected-tree/mainTree/markdown-tests/fileTree/testedMarkdownFile3.md
  integration-test/expected-tree/mainTree/markdown-tests/fileTree/testedMarkdownFile4.md
  integration-test/expected-tree/mainTree/markdown-tests/testedMarkdownFile2.md
  integration-test/expected-tree/mainTree/multiformatMerge.md
  integration-test/manifest.yaml
  pkg/workers/document/document_worker.go
  pkg/workers/document/document_worker_test.go
  pkg/workers/document/job.go
  pkg/workers/document/tests/docs/expected_target.md
  pkg/workers/document/tests/docs/expected_target2.md
  pkg/workers/document/tests/docs/expected_target3.html
  pkg/workers/document/tests/docs/images/gardener-docforge-logo.png
  pkg/workers/document/tests/docs/manifest.yaml
  pkg/workers/document/tests/docs/target.md
  pkg/workers/document/tests/docs/target2.md
  pkg/workers/document/tests/docs/target3.html
  pkg/workers/linkresolver/link_resolving.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#406 Support fileTree for root repo directory
  pkg/registry/repositoryhost/resource_url.go
  pkg/registry/repositoryhost/resource_url_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#407 Setup for manifest plugins
  pkg/internal/must/assertions.go
  pkg/manifest/manifest.go
Labels: needs/ok-to-test, needs/review, size/m

#408 Docsy plugin edit this page
  cmd/app/cmd.go
  cmd/app/exec.go
  cmd/app/flags.go
  cmd/docsy/option.go
  docs/plugin/docsy.md
  pkg/manifest/manifest.go
  pkg/manifestplugins/docsy/plugin.go
  pkg/manifestplugins/interface.go
  pkg/registry/repositoryhost/resource_url.go
Labels: needs/ok-to-test

#409 Move frontmatter to node
  pkg/nodeplugins/markdown/document/document_worker.go
  pkg/nodeplugins/markdown/document/document_worker_test.go
  pkg/nodeplugins/markdown/document/frontmatter/frontmatter.go
  pkg/nodeplugins/markdown/document/frontmatter/frontmatter_test.go
  pkg/nodeplugins/markdown/document/tests/docs/expected_target.md
  pkg/nodeplugins/markdown/document/tests/docs/target.md
Labels: needs/ok-to-test, needs/review, size/s

#410 Describe the value of a no-op NodeTransformation
  pkg/manifestplugins/interface.go
Labels: needs/ok-to-test, needs/review, size/xs

#411 Introduce unit test for docsy plugin
  pkg/manifestplugins/docsy/plugin.go
  pkg/manifestplugins/docsy/plugin_test.go
  pkg/manifestplugins/docsy/tests/contents/README.md
  pkg/manifestplugins/docsy/tests/contents/blogs/2024/foo.md
  pkg/manifestplugins/docsy/tests/contents/blogs/2024/two.md
  pkg/manifestplugins/docsy/tests/contents/website/blog/2024/_index.md
  pkg/manifestplugins/docsy/tests/manifests/dir.yaml
  pkg/manifestplugins/docsy/tests/manifests/file.yaml
  pkg/manifestplugins/docsy/tests/manifests/index_md_with_properties.yaml
  pkg/manifestplugins/docsy/tests/manifests/multisource.yaml
  pkg/manifestplugins/docsy/tests/results/dir.yaml
  pkg/manifestplugins/docsy/tests/results/file.yaml
  pkg/manifestplugins/docsy/tests/results/index_md_with_properties.yaml
  pkg/manifestplugins/docsy/tests/results/multisource.yaml
Labels: needs/ok-to-test, needs/review, size/m

#414 Setup for multistage runs
  cmd/app/exec.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/xs

#412 Add `FileTypeFilter` plugin
  cmd/app/exec.go
  docs/plugin/filetypefilter.md
  pkg/manifest/manifest.go
  pkg/manifest/manifest_test.go
  pkg/manifest/tests/results/fileTree_filtering.yaml
  pkg/manifest/tests/results/manifest.yaml
  pkg/manifest/tests/results/merging.yaml
  pkg/manifestplugins/docsy/plugin.go
  pkg/manifestplugins/docsy/plugin_test.go
  pkg/manifestplugins/filetypefilter/plugin.go
  pkg/manifestplugins/filetypefilter/plugin_test.go
  pkg/manifestplugins/filetypefilter/tests/contents/blogs/2024/invalid.file
  pkg/manifestplugins/filetypefilter/tests/manifests/unsupported_file_format.yaml
  pkg/nodeplugins/markdown/document/document_worker_test.go
  pkg/nodeplugins/markdown/document/frontmatter/frontmatter_test.go
  pkg/nodeplugins/markdown/linkresolver/link_resolving_test.go
  test/e2e/docforge_config.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#415 task.sh: Add [tested] prefix to repo scoped changes
  task.sh
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#413 Add `Persona` plugin
  cmd/app/cmd.go
  cmd/app/exec.go
  cmd/app/flags.go
  cmd/persona/option.go
  docs/plugin/persona.md
  pkg/manifest/manifest.go
  pkg/manifestplugins/persona/plugin.go
  pkg/manifestplugins/persona/plugin_test.go
  pkg/manifestplugins/persona/tests/contents/README.md
  pkg/manifestplugins/persona/tests/manifests/persona_filtering.yaml
  pkg/manifestplugins/persona/tests/results/persona_filtering.yaml
  test/e2e/docforge_config.yaml
Labels: needs/ok-to-test, needs/rebase, needs/review, size/m
