Repository gardener/docforge, pull requests merged in 2025-08, with the labels that each got.

#428 chore: Convert deprecated dep5 to REUSE.toml
  .reuse/dep5
  REUSE.toml
Labels: area/open-source, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#431 Fix irregularities caused by downcasing of links
  integration-test/expected-tree/mainTree/html-tests/file1.md
  integration-test/expected-tree/mainTree/html-tests/fileTree/innerDir/testedHTMLFile5.md
  integration-test/expected-tree/mainTree/html-tests/fileTree/testedHTMLFile3.md
  integration-test/expected-tree/mainTree/html-tests/fileTree/testedHTMLFile4.md
  integration-test/expected-tree/mainTree/html-tests/testedHTMLFile2.md
  integration-test/expected-tree/mainTree/markdown-tests/file1.md
  integration-test/expected-tree/mainTree/markdown-tests/fileTree/innerDir/testedMarkdownFile5.md
  integration-test/expected-tree/mainTree/markdown-tests/fileTree/testedMarkdownFile3.md
  integration-test/expected-tree/mainTree/markdown-tests/fileTree/testedMarkdownFile4.md
  integration-test/expected-tree/mainTree/markdown-tests/testedMarkdownFile2.md
  integration-test/expected-tree/mainTree/multiformatMerge.md
  pkg/nodeplugins/markdown/linkresolver/link_resolving.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#430 Enable import of a whole repository in manifests
  go.mod
  go.sum
  pkg/registry/repositoryhost/github_http_cache.go
  pkg/registry/repositoryhost/github_http_cache_test.go
  pkg/registry/repositoryhost/repository_host_test.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/xs
